.icone-menu {
    width: 50px;
}

.bloco-dois, .bloco-tres, .bloco-quatro, .bloco-cinco, .bloco-seis {
    margin-top: 50px
    
}

/* 
.img-rodape{
    width: 400px;
} */



div.container3 {
    height: 10em;
    position: relative }              /* 1 */
 div.container3 p {
    margin: 0;
    position: absolute;               /* 2 */
    top: 50%;                         /* 3 */
    transform: translate(0, -50%) }   /* 4 */

footer {
    color: whitesmoke;
    padding: 20px 0;
    font-family:Arial,sans-serif;
    font-weight:400;
    font-size:14px;
    letter-spacing:2px;
    background-color: black;
}

.navbar{
    justify-content: center;

}

body{
background-color: black;
}

#card-text{
    font-family:Arial, Helvetica, sans-serif;
}